body {
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
  background: url("bg-pattern-top.svg") right 48vw bottom 38vh no-repeat,
              url("bg-pattern-bottom.svg") left 50vw top 49vh no-repeat;
  background-color: hsl(185, 75%, 39%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
}

span {
  font-weight: normal;
  color: hsl(227, 10%, 46%);
}

p {
  color: hsl(227, 10%, 46%);
}

table {
  margin: 30px auto;
}

th {
  font-size: 18px;
  padding: 0 30px 3px 30px;
}

td {
  font-size: 12px;
  color: hsl(227, 10%, 46%);
}

/* .img-top {
  z-index: 1;
  position: absolute;
  bottom: 200px;
  right: 1000px;
}

.img-bottom {
  position: absolute;
  top: 200px;
  left: 1000px;
  z-index: 1;
} */

.card {
  height: 375px;
  width: 350px;
  background-color: white;
  border-radius: 12px;
  margin-top: 50vh;
  transform: translateY(-50%);
  -webkit-box-shadow: 0px -1px 13px -8px rgba(117,126,169,1);
  -moz-box-shadow: 0px -1px 13px -8px rgba(117,126,169,1);
  box-shadow: 0px -1px 13px -8px rgba(117,126,169,1);
}

.card-top {
  background-image: url(bg-pattern-card.svg);
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-top>img {
  border: solid;
  border-width: 4px;
  border-color: white;
  border-radius: 50%;
  margin: 60px 0 -50px 0;
}

.card-middle {
  margin: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}
